<div ui-content-for="title">
    <span>{{app.name}}</span>
</div>


<div ui-content-for="leftAction">
    <span back>
        <i class="fa fa-arrow-left"></i> Apps
    </span>
</div>

<div class="scrollable">
    <div class="scrollable-content">
	<div class="list-group text-center">
	    <div class="list-group-item list-group-item-home">
		    <div>
			<img src="{{app.icon_url}}" style=" line-height: 60px; height: 112px; opacity: .8; margin-bottom: 20px;"></img>
		    </div>
		    <div>
			<h3>{{app.name}}</h3>
			{{app.description}}
		    </div>
                    <div ng-include=" 'actions.html' "/>
	    </div>

                <!--</div>-->
                <!--<div>-->
                <!--<h3>{{app.name}}</h3>-->
                <!--{{app.description}}-->
                <!--</div>-->
                <!--<div style="margin-top: 10px;">-->
                <!--<button class="btn btn-primary btn-block" ng-click="runApp(app)" ng-if="!app.running">-->
                <!--Run-->
                <!--</button>-->
                <!--<button class="btn btn-danger btn-block" ng-click="stopApp(app)" ng-if="app.running">-->
                <!--Stop-->
                <!--</button>-->
                <!--</div>-->
        </div>

    </div>

</div>
