<div ui-content-for="title">
    <span>{{app.name}}</span>
</div>


<div ui-content-for="leftAction">
    <span back>
        <i class="fa fa-arrow-left"></i> Apps
    </span>
</div>

<div class="scrollable">
    <div class="scrollable-content">
	<div class="list-group text-center">
	    <div class="list-group-item list-group-item-home">
		    <div>
			<img src="{{app.icon_url}}" style=" line-height: 60px; height: 112px; opacity: .8; margin-bottom: 20px;"></img>
		    </div>
		    <div>
			<h3>{{app.name}}</h3>
			{{app.description}}
		    </div>
                    <div ng-include=" 'actions.html' "/>
	    </div>

        </div>

    </div>

</div>


<div ui-content-for="modals">
    <div class="modal" ui-if="confirm" ui-state='confirm'>
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Confirm complete remomval of app {{app.name}} ?</p>
                </div>
                <div class="modal-footer">
                    <button ui-turn-off="confirm" class="btn btn-default">Close</button>
                    <button ui-turn-off="confirm" ng-click="mc.uninstallApp(app)" class="btn btn-primary">Accept</button>
                </div>
            </div>
        </div>
    </div>
</div>
