<div ui-content-for="title">
    <span>{{app.name}}</span>
</div>


<div ui-content-for="leftAction">
    <span back>
        <i class="fa fa-arrow-left"></i> Back
    </span>
</div>

<div class="scrollable">
    <div class="scrollable-content">
	<div class="list-group text-center">
	    <div class="list-group-item list-group-item-home">
		    <div>
			<img src="{{app.icon_url}}" style="border-radius: 200px; line-height: 60px; height: 72px; border: 3px solid; opacity: .8; margin-bottom: 20px;"></img>
		    </div>
		    <div>
			<h3>{{app.name}}</h3>
			{{app.description}}
		    </div>
		    <div style="margin-top: 10px;">
			    <button class="btn btn-primary btn-block" ng-click="runApp(app)" ng-if="!app.is_running">Run</button>
			    <button class="btn btn-primary btn-block" ng-click="stopApp(app)" ng-if="app.is_running">Stop</button>
			    <button class="btn btn-primary btn-block" ng-click="openRemote(app)" ng-if="app.remote_url && app.is_running">Remote</button>
			    <button class="btn btn-primary btn-block" ng-click="bringToFront(app)" ng-if="app.is_running">Bring to front</button>
			    <button class="btn btn-danger btn-block" ng-click="uninstallApp(app)">Uninstall</button>
			    <button class="btn btn-primary btn-block" ng-click="updayeApp(app)" ng-if="app.has_updates">Update</button>
		    </div>
	    </div>

                <!--</div>-->
                <!--<div>-->
                <!--<h3>{{app.name}}</h3>-->
                <!--{{app.description}}-->
                <!--</div>-->
                <!--<div style="margin-top: 10px;">-->
                <!--<button class="btn btn-primary btn-block" ng-click="runApp(app)" ng-if="!app.running">-->
                <!--Run-->
                <!--</button>-->
                <!--<button class="btn btn-danger btn-block" ng-click="stopApp(app)" ng-if="app.running">-->
                <!--Stop-->
                <!--</button>-->
                <!--</div>-->
        </div>

    </div>

</div>
