<div ui-content-for="title">
    <span>Installed Apps</span>
</div>

<div class="scrollable">
    <div class="scrollable-content">
        <div class="container-fluid section section-break">
            <div class="row" ng-switch on="$index % 3"  ng-repeat="app in installedApps" style="padding: 20px;">
                <div ng-switch-when="0" class="col-xs-4">
			<a ng-href="#/apps/{{installedApps[$index].id}}">
			    <div>
				<img src="{{installedApps[$index].icon_url}}" style="line-height: 30px; height: 72px; opacity: .8; margin: 5px auto; display:block;"></img>
			    </div>
			    <div style="text-align:center">
				{{installedApps[$index].name}}
			    </div>
		    </a>
                </div>
                <div ng-switch-when="0" class="col-xs-4">
			<a ng-href="#/apps/{{installedApps[$index+1].id}}">
			    <div>
				<img src="{{installedApps[$index+1].icon_url}}" style="line-height: 30px; height: 72px; opacity: .8; margin: 5px auto; display:block;"></img>
			    </div>
			    <div style="text-align:center;">
				{{installedApps[$index+1].name}}
			    </div>
	    		</a>
                </div>
                <div ng-switch-when="0" class="col-xs-4">
			<a ng-href="#/apps/{{installedApps[$index+2].id}}">
			    <div>
				<img src="{{installedApps[$index+2].icon_url}}" style="line-height: 30px; height: 72px; opacity: .8; margin: 5px auto; display:block;"></img>
			    </div>
			    <div style="text-align:center">
				{{installedApps[$index+2].name}}
			    </div>
	    </a>
                </div>

                <!--</div>-->
                <!--<div>-->
                <!--<h3>{{app.name}}</h3>-->
                <!--{{app.description}}-->
                <!--</div>-->
                <!--<div style="margin-top: 10px;">-->
                <!--<button class="btn btn-primary btn-block" ng-click="runApp(app)" ng-if="!app.running">-->
                <!--Run-->
                <!--</button>-->
                <!--<button class="btn btn-danger btn-block" ng-click="stopApp(app)" ng-if="app.running">-->
                <!--Stop-->
                <!--</button>-->
                <!--</div>-->
            </div>
        </div>

    </div>

</div>
