<div ui-content-for="title">
    <span>My Apps</span>
</div>

<div class="scrollable">
    <div class="scrollable-content">
        <div class="container-fluid section section-break">

            <div class="row" ng-switch on="$index % 3"  ng-repeat="app in installedApps" style="padding: 20px;">
                <div ng-switch-when="0" class="col-xs-4">
                    <a ng-right-click="actions(installedApps[$index])" ng-show="installedApps[$index]" ng-href="#/apps/{{installedApps[$index].id}}">
                        <div>
                            <img ng-src="{{installedApps[$index].icon_url}}" style="line-height: 30px; height: 72px; opacity: .8; margin: 5px auto; display:block;"></img>
                        </div>
                        <div style="text-align:center">
                            {{installedApps[$index].name}}
                        </div>
                    </a>
                </div>
                <div ng-switch-when="0" class="col-xs-4">
                    <a ng-right-click="actions(installedApps[$index+1])" ng-show="installedApps[$index+1]" ng-href="#/apps/{{installedApps[$index+1].id}}">
                        <div>
                            <img ng-src="{{installedApps[$index+1].icon_url}}" style="line-height: 30px; height: 72px; opacity: .8; margin: 5px auto; display:block;"></img>
                        </div>
                        <div style="text-align:center;">
                            {{installedApps[$index+1].name}}
                        </div>
                    </a>
                </div>
                <div ng-switch-when="0" class="col-xs-4">
                    <a ng-right-click="actions(installedApps[$index+2])" ng-show="installedApps[$index+2]" ng-href="#/apps/{{installedApps[$index+2].id}}">
                        <div>
                            <img ng-src="{{installedApps[$index+2].icon_url}}" style="line-height: 30px; height: 72px; opacity: .8; margin: 5px auto; display:block;"></img>
                        </div>
                        <div style="text-align:center">
                            {{installedApps[$index+2].name}}
                        </div>
                    </a>
                </div>

                <!--</div>-->
                <!--<div>-->
                <!--<h3>{{app.name}}</h3>-->
                <!--{{app.description}}-->
                <!--</div>-->
                <!--<div style="margin-top: 10px;">-->
                <!--<button class="btn btn-primary btn-block" ng-click="runApp(app)" ng-if="!app.running">-->
                <!--Run-->
                <!--</button>-->
                <!--<button class="btn btn-danger btn-block" ng-click="stopApp(app)" ng-if="app.running">-->
                <!--Stop-->
                <!--</button>-->
                <!--</div>-->
        </div>
    </div>

</div>

<div ui-content-for="modals">
    <div class="modal" ui-if="modal1" ui-shared-state="modal1">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">{{app.name}}</h4>
                </div>
                <div ng-include=" 'actions.html' " class="modal-body">
                </div>
                <div class="modal-footer">
                    <button ui-turn-off="modal1" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
