<div ui-content-for="title">
    <span>Preferences</span>
</div>
<div class="scrollable">
    <div class="scrollable-content section">

        <div class="list-group">
            <div class="list-group-item list-group-item-home">
                <div class="form-group row">
                    <label>Automatic updates</label>
                    <ui-switch style="float: right;"
                               ng-model="updated"></ui-switch>
                </div>
            </div>
        </div>
        <div class="list-group">
            <div class="list-group-item list-group-item-home">
                <div class="form-group row">
                    <label>Enable notifications</label>
                    <ui-switch style="float: right;"
                               ng-model="notif"></ui-switch>
                </div>
            </div>
        </div>
        <div class="list-group">
            <div class="list-group-item list-group-item-home">
                <div class="form-group row">
                    <label>Stop apps when exiting</label>
                    <ui-switch style="float: right;"
                               ng-model="stop"></ui-switch>
                </div>
            </div>
        </div>
    </div>
</div>
