
<div ui-content-for="title">
    <span>Moby Store</span>
</div>

<div class="scrollable">
    <div class="scrollable-content">
        <div class="section">
            <ui-shared-state id="activeTab" default="1"></ui-shared-state>

            <div class="btn-group justified nav-tabs">
                <a ui-set="{'activeTab': 1}"
                   ui-class="{'active': activeTab == 1}" class="btn btn-default">Apps</a>

                <a ui-set="{'activeTab': 2}"
                   ui-class="{'active': activeTab == 2}" class="btn btn-default">Games</a>

                <a ui-set="{'activeTab': 3}"
                   ui-class="{'active': activeTab == 3}" class="btn btn-default">Recommended</a>
            </div>

            <div ui-if="activeTab == 1">
                <h3 class="page-header">Tab 1</h3>
                <p>{{lorem}}</p>
            </div>

            <div ui-if="activeTab == 2">
                <h3 class="page-header">Tab 2</h3>
                <p>{{lorem}}</p>
            </div>

            <div ui-if="activeTab == 3">
                <h3 class="page-header">Tab 3</h3>
                <p>{{lorem}}</p>
            </div>


        </div>

    </div>
</div>
